<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HedgedeskReportProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HedgedeskReportProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HedgedeskReportProject.Properties.Settings>
            <setting name="UserConnString" serializeAs="String">
                <value>Data Source=10.0.10.51;Initial Catalog=CGBOnline;Persist Security Info=True;User ID=notrshelp;Password=4notrs2getN;</value>
            </setting>
        </HedgedeskReportProject.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HedgedeskReportProject.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>Data Source=10.0.10.51;Initial Catalog=CGBOnline;Persist Security Info=True;User ID=notrshelp;Password=4notrs2getN;</value>
            </setting>
            <setting name="HedgedeskConnectionString" serializeAs="String">
                <value>Data Source=10.0.10.51;Initial Catalog=Hedgedesk;User ID=IUser_Hedgebook;Password=hedgebook;</value>
            </setting>
        </HedgedeskReportProject.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
