<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HedgedeskApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HedgedeskApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HedgedeskApplication.Properties.Settings.HedgedeskConnectionString"
            connectionString="Data Source=MAN051FS;Initial Catalog=Hedgedesk;User ID=IUser_Hedgebook;Password=hedgebook;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <HedgedeskApplication.Properties.Settings>
            <setting name="ShowOrderPad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartPage" serializeAs="String">
                <value>Orders</value>
            </setting>
            <setting name="AllowOrderPadChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TradeCompanyID" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="GEMDirectory" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="HedgeUserID" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HedgeContractLimit" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="Hedge100" serializeAs="String">
                <value>Data Source=MAN051FS;Initial Catalog=Hedge100;User ID=IUser_Hedgebook;Password=hedgebook;</value>
            </setting>
            <setting name="UserConnString" serializeAs="String">
                <value>Data Source=MAN051FS;Initial Catalog=CGBOnline;Persist Security Info=True;User ID=notrshelp;Password=4notrs2getN;</value>
            </setting>
        </HedgedeskApplication.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HedgedeskApplication.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>"Hedgedesk Application"</value>
            </setting>
            <setting name="ConnString" serializeAs="String">
                <value>Data Source=MAN051FS;Initial Catalog=CGBOnline;Persist Security Info=True;User ID=notrshelp;Password=4notrs2getN;</value>
            </setting>
        </HedgedeskApplication.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Reporting" publicKeyToken="A9D7983DFCC261BE" culture="neutral"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
